# ETL1

## Funciones auxiliares

Con el fin de estandarizar el tipo de datos que se tiene por columna se definen funcione auxiliares que convierten a tipo numerico, string, int, float, datetime, bit y una funci√≥n que verifica que no haya ningun id nulo.

In [1]:
import sqlite3
import pandas as pd
import sys 
import io # Para capturar la salida de df.info()

# --- Configuraci√≥n ---
sqlite_db_file = 'nba.sqlite'

# --- Funciones Auxiliares (COMPLETAS) ---

def safe_to_numeric(series, errors='coerce'):
    series = series.replace(r'^\s*$', pd.NA, regex=True)
    return pd.to_numeric(series, errors=errors)

def convert_to_string(df, columns):
    for col in columns:
        if col in df.columns:
            df[col] = df[col].astype(str).replace({
                'None': pd.NA, 'nan': pd.NA, '<NA>': pd.NA
            }, regex=False)
            df[col] = df[col].str.replace(r'\.0$', '', regex=True)
    return df

def convert_to_int64(df, columns):
    for col in columns:
        if col in df.columns: df[col] = safe_to_numeric(df[col]).astype('Int64')
    return df

def convert_to_float(df, columns):
    for col in columns:
        if col in df.columns: df[col] = safe_to_numeric(df[col]).astype('float64')
    return df

def convert_to_datetime(df, columns):
    for col in columns:
        if col in df.columns: df[col] = pd.to_datetime(df[col], errors='coerce')
    return df

def convert_to_bit(df, columns):
    for col in columns:
        if col in df.columns:
            df[col] = df[col].astype(str).str.strip().str.lower().map({
                '1': 1, 'true': 1, 't': 1, '0': 0, 'false': 0, 'f': 0
            }).fillna(pd.NA).astype('Int64')
    return df

def check_pk_not_null(df, pk_columns):
    pk_list = [pk_columns] if isinstance(pk_columns, str) else list(pk_columns)
    for col in pk_list:
        if col in df.columns and df[col].isnull().any():
            print(f"   üö® ¬°ADVERTENCIA! La columna PK '{col}' contiene NULOS. ¬°Esto podr√≠a causar problemas al cargar!")            
    return df

## Funciones de limpieza

Para cada una de las tablas se hace un filtrado y limpieza, se tiene en cuenta que para la tablas que no son estaticas sino transaccionales como play_by_play se filtra para las √∫ltimas 5 temporadas.

In [2]:
def limpiar_team(df):
    print("   üßπ Limpiando Team...")
    df = convert_to_string(df, ['id'])
    df = convert_to_int64(df, ['year_founded'])
    df = check_pk_not_null(df, 'id')
    return df

def limpiar_team_details(df):
    print("   üßπ Limpiando team_details...")
    df = convert_to_string(df, ['team_id'])
    df = convert_to_int64(df, ['yearfounded', 'arenacapacity'])
    df = check_pk_not_null(df, 'team_id')
    return df

def limpiar_draft_history(df):
    print("   üßπ Limpiando draft_history...")
    str_ids = ['person_id', 'team_id']
    int_cols = ['season', 'round_number', 'round_pick', 'overall_pick']
    bit_cols = ['player_profile_flag']
    if '_rowid' in df.columns: int_cols.append('_rowid')
    df = convert_to_string(df, str_ids)
    df = convert_to_int64(df, int_cols)
    df = convert_to_bit(df, bit_cols)
    df = check_pk_not_null(df, ['person_id', 'season'])
    return df

def limpiar_game(df):
    print("   üßπ Limpiando game...")
    str_ids = ['game_id', 'team_id_home', 'team_id_away']
    int_cols = ['fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 'oreb_home', 'dreb_home', 'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home', 'pts_home', 'plus_minus_home', 'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 'oreb_away', 'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away', 'pf_away', 'pts_away', 'plus_minus_away']
    float_cols = ['min', 'fg_pct_home', 'fg3_pct_home', 'ft_pct_home', 'fg_pct_away', 'fg3_pct_away', 'ft_pct_away']
    bit_cols = ['wl_home', 'video_available_home', 'wl_away', 'video_available_away']
    df = convert_to_string(df, str_ids)
    df = convert_to_int64(df, int_cols)
    df = convert_to_float(df, float_cols)
    df = convert_to_bit(df, bit_cols)
    df = convert_to_datetime(df, ['game_date'])
    df = check_pk_not_null(df, 'game_id')
    return df

Se hace la limpieza (quitar filas vacias, estandarizar formatos) de las tablas team, game, team_details y draft history.

In [4]:
# --- Diccionario de Tablas a Procesar ---
tables_to_process = {
    'team': (('id'), limpiar_team),
    'game': (('game_id'), limpiar_game),
    'team_details': (('team_id'), limpiar_team_details),
    'draft_history': (('person_id', 'season'), limpiar_draft_history),
}

# --- Orden de Carga (Respetando Dependencias L√≥gicas) ---
load_order = [
    'team', 
    'game', 
    'team_details', 
    'draft_history'
]

# --- Proceso Principal ET ---

sqlite_conn = None

print(f"--- üöÄ Iniciando Proceso ET Tablas Seleccionadas ---")

try:
    # --- Conectar a SQLite ---
    print(f"üîå Conectando a SQLite: {sqlite_db_file}...")
    sqlite_conn = sqlite3.connect(sqlite_db_file)
    
    # --- Bucle para Procesar Cada Tabla en Orden ---
    for table_name in load_order:
        pk_info, clean_func = tables_to_process[table_name]

        print(f"\n=======================================================")
        print(f"--- ‚è≥ Procesando Tabla: {table_name} ---")
        print(f"=======================================================")
        
        # 1. EXTRAER
        print(f"   üìä Extrayendo datos de '{table_name}'...")
        try:
            # Usamos pd.read_sql_query para leer toda la tabla
            df_sqlite = pd.read_sql_query(f"SELECT * FROM \"{table_name}\"", sqlite_conn)
            if df_sqlite.empty:
                print(f"   ‚ö†Ô∏è No se encontraron datos para '{table_name}'. Saltando...")
                continue
            rows_before = len(df_sqlite)
            print(f"   ‚úÖ Se extrajeron {rows_before} filas.")
        except Exception as e:
            print(f"   ‚ùå Error al extraer '{table_name}': {e}. Saltando...")
            continue

        # 2. TRANSFORMAR


        df_cleaned = clean_func(df_sqlite.copy()) # Aplicamos limpieza
        #Exportar a csv
        df_cleaned.to_csv(f"{table_name}_limpio.csv", index=False)

        # 3. ELIMINAR FILAS VAC√çAS
        rows_before_drop = len(df_cleaned)
        df_cleaned.dropna(how='all', inplace=True)
        rows_after_drop = len(df_cleaned)
        rows_removed = rows_before_drop - rows_after_drop
        if rows_removed > 0:
            print(f"   üóëÔ∏è Se eliminaron {rows_removed} filas completamente vac√≠as.")
        
        print(f"   ‚ú® {table_name} procesada. {rows_after_drop} filas listas.")

        # 4. MOSTRAR MUESTRA
        print("\n   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---")
        print(df_cleaned.head(3).to_string())

except Exception as e:
    print(f"‚ùå Ocurri√≥ un error general durante el proceso: {e}")

finally:
    # --- Cerrar Conexi√≥n ---
    if sqlite_conn:
        sqlite_conn.close()
        print("\n\nüö™ Conexi√≥n a SQLite cerrada.")

--- üöÄ Iniciando Proceso ET Tablas Seleccionadas ---
üîå Conectando a SQLite: nba.sqlite...

=======================================================
--- ‚è≥ Procesando Tabla: team ---
=======================================================
   üìä Extrayendo datos de 'team'...
   ‚úÖ Se extrajeron 30 filas.
   üßπ Limpiando Team...
   ‚ú® team procesada. 30 filas listas.

   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---
           id            full_name abbreviation   nickname       city          state  year_founded
0  1610612737        Atlanta Hawks          ATL      Hawks    Atlanta        Georgia          1949
1  1610612738       Boston Celtics          BOS    Celtics     Boston  Massachusetts          1946
2  1610612739  Cleveland Cavaliers          CLE  Cavaliers  Cleveland           Ohio          1970

=======================================================
--- ‚è≥ Procesando Tabla: game ---
=======================================================
   üìä Extrayendo datos de 'game'...
   ‚úÖ Se extrajeron 65698 filas.
   üßπ Limpiando game...
   ‚ú® game procesada. 65698 filas listas.

   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---
  season_id team_id_home team_abbreviation_home           team_name_home     game_id  game_date matchup_home  wl_home  min  fgm_home  fga_home  fg_pct_home  fg3m_home  fg3a_home  fg3_pct_home  ftm_home  fta_home  ft_pct_home  oreb_home  dreb_home  reb_home  ast_home  stl_home  blk_home  tov_home  pf_home  pts_home  plus_minus_home  video_available_home team_id_away team_abbreviation_away      team_name_away matchup_away  wl_away  fgm_away  fga_away  fg_pct_away  fg3m_away  fg3a_away  fg3_pct_away  ftm_away  fta_away  ft_pct_away  oreb_away  dreb_away  reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  plus_minus_away  video_available_away     season_type
0     21946   1610610035                    HUS          Toronto Huskies  0024600001 1946-11-01  HUS vs. NYK     <NA>  0.0        25      <NA>          NaN       <NA>       <NA>           NaN        16        29        0.552       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>     <NA>        66               -2                     0   1610612752                    NYK     New York Knicks    NYK @ HUS     <NA>        24      <NA>          NaN       <NA>       <NA>           NaN        20        26        0.769       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>     <NA>        68                2                     0  Regular Season
1     21946   1610610034                    BOM        St. Louis Bombers  0024600003 1946-11-02  BOM vs. PIT     <NA>  0.0        20        59        0.339       <NA>       <NA>           NaN        16      <NA>          NaN       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>       21        56                5                     0   1610610031                    PIT  Pittsburgh Ironmen    PIT @ BOM     <NA>        16        72        0.222       <NA>       <NA>           NaN        19      <NA>          NaN       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>       25        51               -5                     0  Regular Season
2     21946   1610610032                    PRO  Providence Steamrollers  0024600002 1946-11-02  PRO vs. BOS     <NA>  0.0        21      <NA>          NaN       <NA>       <NA>           NaN        17      <NA>          NaN       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>     <NA>        59                6                     0   1610612738                    BOS      Boston Celtics    BOS @ PRO     <NA>        21      <NA>          NaN       <NA>       <NA>           NaN        11      <NA>          NaN       <NA>       <NA>      <NA>      <NA>      <NA>      <NA>      <NA>     <NA>        53               -6                     0  Regular Season

=======================================================
--- ‚è≥ Procesando Tabla: team_details ---
=======================================================
   üìä Extrayendo datos de 'team_details'...
   ‚úÖ Se extrajeron 27 filas.
   üßπ Limpiando team_details...
   ‚ú® team_details procesada. 27 filas listas.

   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---
      team_id abbreviation   nickname  yearfounded       city                       arena  arenacapacity          owner  generalmanager       headcoach     dleagueaffiliation                                facebook                       instagram                       twitter
0  1610612737          ATL      Hawks         1949    Atlanta            State Farm Arena          18729   Tony Ressler  Travis Schlenk     Quin Snyder  College Park Skyhawks          https://www.facebook.com/hawks  https://instagram.com/atlhawks  https://twitter.com/ATLHawks
1  1610612738          BOS    Celtics         1946     Boston                   TD Garden          18624  Wyc Grousbeck    Brad Stevens    Joe Mazzulla          Maine Celtics  https://www.facebook.com/bostonceltics   https://instagram.com/celtics   https://twitter.com/celtics
2  1610612739          CLE  Cavaliers         1970  Cleveland  Rocket Mortgage FieldHouse          20562    Dan Gilbert     Koby Altman  JB Bickerstaff       Cleveland Charge           https://www.facebook.com/Cavs      https://instagram.com/cavs      https://twitter.com/cavs

=======================================================
--- ‚è≥ Procesando Tabla: draft_history ---
=======================================================
   üìä Extrayendo datos de 'draft_history'...
   ‚úÖ Se extrajeron 8257 filas.
   üßπ Limpiando draft_history...
   ‚ú® draft_history procesada. 8257 filas listas.

   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---
  person_id       player_name  season  round_number  round_pick  overall_pick draft_type     team_id   team_city team_name team_abbreviation   organization   organization_type  player_profile_flag
0     79299  Clifton McNeeley    1947             1           1             1      Draft  1610610031  Pittsburgh   Ironmen               PIT  Texas-El Paso  College/University                    0
1     78109        Glen Selbo    1947             1           2             2      Draft  1610610035     Toronto   Huskies               HUS      Wisconsin  College/University                    1
2     76649      Eddie Ehlers    1947             1           3             3      Draft  1610612738      Boston   Celtics               BOS         Purdue  College/University                    1


üö™ Conexi√≥n a SQLite cerrada.

## Limpieza play_by_play √∫ltimas 5 temporadas

Se calcula los a√±os de las ultimas 5 temporadas de la NBA para los datos disponibles, y se muestra un resumen de la tabla procesada.

In [5]:
# --- Configuraci√≥n ---
sqlite_db_file = 'nba.sqlite'
table_to_process = 'play_by_play'
game_info_table = 'game_info' # Usaremos esta tabla para las fechas/a√±os

# --- Nombres de columnas ASUMIDOS en game_info (¬°AJUSTA SI ES NECESARIO!) ---
# Si tus columnas se llaman diferente, c√°mbialas aqu√≠:
GAME_INFO_ID_COLUMN = 'game_id' # Columna de ID de juego en game_info
GAME_INFO_DATE_COLUMN = 'game_date' # Columna de fecha en game_info

def limpiar_play_by_play(df):
    """Limpia y convierte tipos para la tabla play_by_play."""
    print("   üßπ Limpiando play_by_play...")
    # Asumimos que la columna GAME_INFO_ID_COLUMN se mapea a 'game_id' en play_by_play
    # o que tienen el mismo nombre. Ajusta si 'game_id' en PBP tiene otro nombre.
    str_ids = [
        'game_id', 'player1_id', 'player1_team_id', 
        'player2_id', 'player2_team_id', 'player3_id', 'player3_team_id'
    ]
    # Si GAME_INFO_ID_COLUMN no es 'game_id', y 'game_id' existe en df, se limpiar√°.
    # Si GAME_INFO_ID_COLUMN es el nombre usado en df_sqlite, no hay problema.
    
    int_cols = [
        'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
        'person1type', 'person2type', 'person3type'
    ]
    bit_cols = ['video_available_flag']
    df = convert_to_string(df, str_ids)
    df = convert_to_int64(df, int_cols)
    df = convert_to_bit(df, bit_cols)
    df = check_pk_not_null(df, ['game_id', 'eventnum'])
    return df

# --- Proceso Principal ET ---

sqlite_conn = None

print(f"--- üöÄ Iniciando Proceso ET para: {table_to_process} (Temporadas Din√°micas desde {game_info_table}) ---")

try:
    # --- 1. EXTRAER ---
    print(f"üîå Conectando a SQLite: {sqlite_db_file}...")
    sqlite_conn = sqlite3.connect(sqlite_db_file)
    
    # === PASO 1.1: OBTENER A√ëOS DE TEMPORADA DESDE game_info ===
    print(f"   üìä Obteniendo fechas de juego desde '{game_info_table}' para determinar temporadas...")
    try:
        # Leemos solo las columnas necesarias de game_info
        game_info_query = f"SELECT \"{GAME_INFO_ID_COLUMN}\" AS game_id, \"{GAME_INFO_DATE_COLUMN}\" AS game_date FROM {game_info_table}"
        df_game_info = pd.read_sql_query(game_info_query, sqlite_conn)
    except Exception as e:
        print(f"   ‚ùå Error al leer la tabla '{game_info_table}'. Verifica el nombre y las columnas.")
        print(f"   Error: {e}")
        sys.exit()

    if df_game_info.empty:
        print(f"   ‚ùå La tabla '{game_info_table}' est√° vac√≠a o no se pudieron leer datos. No se puede continuar.")
        sys.exit()

    # Convertimos la columna de fecha y derivamos el a√±o de inicio de la temporada
    df_game_info['game_date'] = pd.to_datetime(df_game_info['game_date'], errors='coerce')
    df_game_info.dropna(subset=['game_date'], inplace=True) # Eliminamos filas sin fecha v√°lida

    if df_game_info.empty:
        print(f"   ‚ùå No hay fechas v√°lidas en '{GAME_INFO_DATE_COLUMN}' en '{game_info_table}'. No se puede continuar.")
        sys.exit()
        
    # Una temporada NBA (ej: 2023-24) usualmente empieza en Oct del primer a√±o.
    # Por lo tanto, si mes < Octubre, pertenece a la temporada que empez√≥ el a√±o anterior.
    df_game_info['season_start_year'] = df_game_info['game_date'].dt.year - (df_game_info['game_date'].dt.month < 10).astype(int)
    
    unique_season_years = sorted(df_game_info['season_start_year'].unique(), reverse=True)
    last_5_season_years = tuple(unique_season_years[:5])

    if not last_5_season_years:
        print("   ‚ùå No se pudieron determinar las √∫ltimas 5 temporadas desde game_info. No se puede continuar.")
        sys.exit()
    print(f"   ‚úÖ √öltimos 5 a√±os de inicio de temporada determinados: {last_5_season_years}")
    
    # Paso 1.2: Obtener game_ids para ESAS 5 temporadas/a√±os
    game_ids_to_fetch_df = df_game_info[df_game_info['season_start_year'].isin(last_5_season_years)]
    game_ids_list = game_ids_to_fetch_df['game_id'].astype(str).unique().tolist()

    if not game_ids_list:
        print("   ‚ö†Ô∏è No se encontraron juegos para las temporadas/a√±os especificados. Finalizando.")
        sys.exit()
    print(f"   ‚úÖ Se encontraron {len(game_ids_list)} game_ids para procesar.")

    # Paso 1.3: Obtener datos de play_by_play para esos game_ids
    print(f"   üìä Extrayendo datos de '{table_to_process}' (puede tardar un poco)...")
    placeholders = ', '.join(['?'] * len(game_ids_list))
    # Aseg√∫rate que la columna 'game_id' en play_by_play coincida con GAME_INFO_ID_COLUMN si usas este filtro
    pbp_query = f"SELECT * FROM \"{table_to_process}\" WHERE game_id IN ({placeholders})" 
    
    df_sqlite = pd.read_sql_query(pbp_query, sqlite_conn, params=game_ids_list)

    if df_sqlite.empty:
        print(f"   ‚ö†Ô∏è No se encontraron datos de Play-by-Play para los {len(game_ids_list)} juegos. Finalizando.")
        sys.exit()
        
    rows_before = len(df_sqlite)
    print(f"   ‚úÖ Se extrajeron {rows_before} filas de Play-by-Play.")

    # 2. TRANSFORMAR

    df_cleaned = limpiar_play_by_play(df_sqlite.copy())


    # 3. ELIMINAR FILAS VAC√çAS
    rows_before_drop = len(df_cleaned)
    df_cleaned.dropna(how='all', inplace=True)
    rows_after_drop = len(df_cleaned)
    rows_removed = rows_before_drop - rows_after_drop

    # Exportar a csv
    df_cleaned.to_csv(f"{table_to_process}_limpio.csv", index=False)
    
    if rows_removed > 0:
        print(f"   üóëÔ∏è Se eliminaron {rows_removed} filas completamente vac√≠as.")
    
    print(f"   ‚ú® {table_to_process} procesada. {rows_after_drop} filas listas.")

    # 4. MOSTRAR MUESTRA
    print("\n   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---")
    print(df_cleaned.head(3).to_string())

except sqlite3.Error as e:
    print(f"‚ùå Error de SQLite: {e}")
except KeyError as e:
    print(f"‚ùå Error de Columna: ¬°La columna {e} no se encontr√≥ como se esperaba! Verifica los nombres en `GAME_INFO_ID_COLUMN` o `GAME_INFO_DATE_COLUMN` o en tu tabla SQLite.")
except Exception as e:
    print(f"‚ùå Ocurri√≥ un error general durante el proceso: {e}")

finally:
    # --- Cerrar Conexi√≥n ---
    if sqlite_conn:
        sqlite_conn.close()
        print("\n\nüö™ Conexi√≥n a SQLite cerrada.")

--- üöÄ Iniciando Proceso ET para: play_by_play (Temporadas Din√°micas desde game_info) ---
üîå Conectando a SQLite: nba.sqlite...
   üìä Obteniendo fechas de juego desde 'game_info' para determinar temporadas...
   ‚úÖ √öltimos 5 a√±os de inicio de temporada determinados: (np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018))
   ‚úÖ Se encontraron 5855 game_ids para procesar.
   üìä Extrayendo datos de 'play_by_play' (puede tardar un poco)...
   ‚úÖ Se extrajeron 2494547 filas de Play-by-Play.
   üßπ Limpiando play_by_play...
   ‚ú® play_by_play procesada. 2494547 filas listas.

   --- MUESTRA DE DATOS LIMPIOS (Primeras 3 filas) ---
      game_id  eventnum  eventmsgtype  eventmsgactiontype  period wctimestring pctimestring                               homedescription                 neutraldescription                visitordescription score scoremargin  person1type player1_id      player1_name player1_team_id player1_team_city player1_team_nickname player1_team_abbreviation  person2type player2_id player2_name player2_team_id player2_team_city player2_team_nickname player2_team_abbreviation  person3type player3_id player3_name player3_team_id player3_team_city player3_team_nickname player3_team_abbreviation  video_available_flag
0  0021800001         2            12                   0       1      8:03 PM        12:00                                          None  Start of 1st Period (8:03 PM EST)                              None  None        None            0          0              None            <NA>              None                  None                      None            0          0         None            <NA>              None                  None                      None            0          0         None            <NA>              None                  None                      None                     0
1  0021800001         4            10                   0       1      8:03 PM        12:00  Jump Ball Horford vs. Embiid: Tip to Simmons                               None                              None  None        None            4     201143        Al Horford      1610612738            Boston               Celtics                       BOS            5     203954  Joel Embiid      1610612755      Philadelphia                 76ers                       PHI            5    1627732  Ben Simmons      1610612755      Philadelphia                 76ers                       PHI                     1
2  0021800001         7             2                   1       1      8:03 PM        11:40                                          None                               None  MISS Covington 27' 3PT Jump Shot  None        None            5     203496  Robert Covington      1610612755      Philadelphia                 76ers                       PHI            0          0         None            <NA>              None                  None                      None            0          0         None            <NA>              None                  None                      None                     1


üö™ Conexi√≥n a SQLite cerrada.

# EDA

Se verifican los tipos de datos que lee pandas de sqlite vs los tipos de datos de la base de datos NBA_HoopVision con el fin de identificar incompatibilidades y mejorar el proceso de ETL

In [2]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine, inspect
import urllib
import sys

# --- Configuraci√≥n ---
sqlite_db_file = 'nba.sqlite'

sql_server_driver = 'ODBC Driver 17 for SQL Server' 
sql_server_name = 'IAMGROOT'
sql_server_db = 'NBA_HoopVision'

# --- Conexi√≥n SQL Server ---
print(f"üîå Creando conexi√≥n a SQL Server: {sql_server_name}/{sql_server_db}...")
try:
    params = urllib.parse.quote_plus(
        f'DRIVER={{{sql_server_driver}}};'
        f'SERVER={sql_server_name};'
        f'DATABASE={sql_server_db};'
        f'Trusted_Connection=yes;'
    )
    sql_engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
    sql_inspector = inspect(sql_engine)
except Exception as e:
    print(f"‚ùå Error fatal al conectar a SQL Server: {e}")
    sys.exit()

# --- Funciones de Inspecci√≥n ---

def get_sqlite_pandas_types(db_path):
    """Lee todas las tablas de SQLite y devuelve sus Dtypes de Pandas."""
    schemas = {}
    conn = None
    print(f"\n--- üïµÔ∏è‚Äç‚ôÇÔ∏è Inspeccionando SQLite ({db_path}) ---")
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = [row[0] for row in cursor.fetchall()]
        print(f"Tablas encontradas: {len(tables)}")

        for table_name in tables:
            try:
                # Leemos solo 1 fila para inferir tipos r√°pidamente
                df = pd.read_sql_query(f"SELECT * FROM \"{table_name}\" LIMIT 1", conn)
                schemas[table_name] = {col: str(dtype) for col, dtype in df.dtypes.items()}
            except Exception as e:
                print(f"   - ‚ö†Ô∏è No se pudo leer la tabla '{table_name}': {e}")
                schemas[table_name] = {"Error": str(e)}
        
    except Exception as e:
        print(f"‚ùå Error al inspeccionar SQLite: {e}")
    finally:
        if conn:
            conn.close()
    return schemas

def get_sql_server_types(inspector):
    """Lee todas las tablas de SQL Server y devuelve sus tipos."""
    schemas = {}
    print(f"\n--- üïµÔ∏è‚Äç‚ôÄÔ∏è Inspeccionando SQL Server ({sql_server_db}) ---")
    try:
        schemas_db = inspector.get_schema_names()
        # A menudo nos interesa 'dbo', pero busquemos en todas por si acaso
        print(f"Esquemas encontrados: {schemas_db}")
        
        for schema in schemas_db:
             # Omitimos esquemas del sistema
            if schema in ['guest', 'INFORMATION_SCHEMA', 'sys', 'db_owner', 
                          'db_accessadmin', 'db_securityadmin', 'db_ddladmin', 
                          'db_backupoperator', 'db_datareader', 'db_datawriter',
                          'db_denydatareader', 'db_denydatawriter']:
                continue

            tables = inspector.get_table_names(schema=schema)
            print(f"Tablas encontradas en '{schema}': {len(tables)}")
            for table_name in tables:
                full_table_name = f"{schema}.{table_name}"
                try:
                    columns = inspector.get_columns(table_name, schema=schema)
                    schemas[table_name] = {col['name']: str(col['type']) for col in columns}
                except Exception as e:
                    print(f"   - ‚ö†Ô∏è No se pudo leer la tabla '{full_table_name}': {e}")
                    schemas[table_name] = {"Error": str(e)}

    except Exception as e:
        print(f"‚ùå Error al inspeccionar SQL Server: {e}")
    return schemas

def analyze_mismatch(pandas_type, sql_type):
    if not pandas_type or not sql_type:
        return "FALTA DATO"

    p_type = str(pandas_type).lower()
    # Para SQL Server, tomamos el tipo base (ej. 'NVARCHAR' de 'NVARCHAR(255)')
    s_type_full = str(sql_type).upper()
    s_type_base = s_type_full.split('(')[0] 

    # Casos OK (comunes)
    if p_type.startswith('int') and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT']:
        return "‚úÖ OK"
    if p_type.startswith('float') and s_type_base in ['FLOAT', 'REAL', 'DECIMAL', 'NUMERIC']:
        return "‚úÖ OK"
    if p_type == 'object' and s_type_base in ['VARCHAR', 'NVARCHAR', 'TEXT', 'CHAR', 'NCHAR']:
        return "‚úÖ OK"
    if p_type == 'bool' and s_type_base == 'BIT':
        return "‚úÖ OK"
    if p_type.startswith('datetime64') and s_type_base in ['DATE', 'DATETIME', 'DATETIME2', 'SMALLDATETIME', 'TIME']:
        return "‚úÖ OK"

    # Focos Rojos (comunes)
    if p_type.startswith('float') and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT']:
        return f"üö® ¬°{p_type.upper()} vs {s_type_base}! (Necesita Int64 nullable)"
    if p_type == 'object' and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT', 'FLOAT', 'REAL', 'DECIMAL', 'NUMERIC', 'BIT', 'DATE', 'DATETIME', 'DATETIME2']:
        return f"üö® ¬°OBJECT vs {s_type_base}! (Necesita conversi√≥n espec√≠fica)"
    if p_type.startswith('int') and s_type_base == 'BIT':
        return f"‚ö†Ô∏è {p_type.upper()} vs BIT (¬øSe mapea 0/1?)"

    # Casos menos comunes o que requieren inspecci√≥n
    if p_type == 'object' and s_type_base not in ['VARCHAR', 'NVARCHAR', 'TEXT', 'CHAR', 'NCHAR']:
        return f"‚ùì OBJECT vs {s_type_base} (Revisar si es texto o necesita conversi√≥n)"

    return "‚ùì Revisar (Combinaci√≥n no cubierta)"

# --- Ejecuci√≥n y Comparaci√≥n ---

sqlite_types = get_sqlite_pandas_types(sqlite_db_file)
sql_server_types = get_sql_server_types(sql_inspector)

print("\n\n--- üìä Comparaci√≥n de Esquemas ---")

# Usamos las tablas de SQLite como base para la comparaci√≥n
all_tables = sorted(list(sqlite_types.keys()))

for table in all_tables:
    print(f"\n=======================================")
    print(f" Tabla: {table}")
    print(f"=======================================")
    
    sqlite_cols = sqlite_types.get(table, {})
    sql_cols = sql_server_types.get(table, {})

    if "Error" in sqlite_cols:
        print(f"  - Error en SQLite: {sqlite_cols['Error']}")
        continue
    if not sql_cols or "Error" in sql_cols:
        print(f"  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!")
        continue

    all_cols = sorted(list(sqlite_cols.keys()))

    print(f"  {'Columna':<30} | {'SQLite (Pandas)':<15} | {'SQL Server':<15} | {'An√°lisis':<30}")
    print(f"  {'-'*30} | {'-'*15} | {'-'*15} | {'-'*30}")

    for col in all_cols:
        p_type = sqlite_cols.get(col, 'N/A')
        s_type = sql_cols.get(col, 'N/A')
        analysis = analyze_mismatch(p_type, s_type)
        print(f"  {col:<30} | {p_type:<15} | {s_type:<15} | {analysis}")

    # Verificamos si hay columnas en SQL Server que no est√°n en SQLite
    missing_in_sqlite = [c for c in sql_cols.keys() if c not in sqlite_cols]
    if missing_in_sqlite:
        print("\n  Columnas ADICIONALES en SQL Server:")
        for col in missing_in_sqlite:
            print(f"    - {col} ({sql_cols[col]})")

print("\n--- Comparaci√≥n Finalizada ---")

# Cerramos el motor de SQL Server
if sql_engine:
    sql_engine.dispose()
    print("üö™ Conexi√≥n a SQL Server cerrada.")

üîå Creando conexi√≥n a SQL Server: IAMGROOT/NBA_HoopVision...

--- üïµÔ∏è‚Äç‚ôÇÔ∏è Inspeccionando SQLite (nba.sqlite) ---
Tablas encontradas: 16

--- üïµÔ∏è‚Äç‚ôÄÔ∏è Inspeccionando SQL Server (NBA_HoopVision) ---
Esquemas encontrados: ['db_accessadmin', 'db_backupoperator', 'db_datareader', 'db_datawriter', 'db_ddladmin', 'db_denydatareader', 'db_denydatawriter', 'db_owner', 'db_securityadmin', 'dbo', 'guest', 'INFORMATION_SCHEMA', 'sys']
Tablas encontradas en 'dbo': 11


--- üìä Comparaci√≥n de Esquemas ---

=======================================
 Tabla: common_player_info
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  birthdate                      | object          | DATE            | üö® ¬°OBJECT vs DATE! (Necesita conversi√≥n espec√≠fica)
  country                        | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_fi_last                | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_first_last             | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_last_comma_first       | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  dleague_flag                   | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  draft_number                   | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  draft_round                    | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  draft_year                     | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  first_name                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  from_year                      | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  games_played_current_season_flag | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  games_played_flag              | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  greatest_75_flag               | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  height                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  jersey                         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  last_affiliation               | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  last_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  nba_flag                       | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  person_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_slug                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  playercode                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  position                       | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  rosterstatus                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  school                         | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season_exp                     | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  team_abbreviation              | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_city                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_code                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id                        | int64           | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚ùì Revisar (Combinaci√≥n no cubierta)
  team_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  to_year                        | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  weight                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)

=======================================
 Tabla: draft_combine_stats
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  bench_press                    | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  body_fat_pct                   | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  first_name                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  hand_length                    | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  hand_width                     | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  height_w_shoes                 | object          | DECIMAL(5, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  height_w_shoes_ft_in           | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  height_wo_shoes                | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  height_wo_shoes_ft_in          | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  lane_agility_time              | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  last_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  max_vertical_leap              | float64         | DECIMAL(4, 2)   | ‚úÖ OK
  modified_lane_agility_time     | object          | DECIMAL(5, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  off_drib_college_break_left    | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_college_break_right   | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_college_top_key       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_break_left    | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_break_right   | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_top_key       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  on_move_college                | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  on_move_fifteen                | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_name                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  position                       | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  spot_college_break_left        | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_break_right       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_corner_left       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_corner_right      | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_top_key           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_break_left        | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_break_right       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_corner_left       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_corner_right      | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_top_key           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_break_left            | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_break_right           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_corner_left           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_corner_right          | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_top_key               | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  standing_reach                 | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  standing_reach_ft_in           | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  standing_vertical_leap         | float64         | DECIMAL(4, 2)   | ‚úÖ OK
  three_quarter_sprint           | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  weight                         | object          | DECIMAL(6, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  wingspan                       | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  wingspan_ft_in                 | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK

=======================================
 Tabla: draft_history
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  draft_type                     | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  organization                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  organization_type              | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  overall_pick                   | int64           | INTEGER         | ‚úÖ OK
  person_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_name                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_profile_flag            | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  round_number                   | int64           | INTEGER         | ‚úÖ OK
  round_pick                     | int64           | INTEGER         | ‚úÖ OK
  season                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  team_abbreviation              | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_city                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id                        | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK

=======================================
 Tabla: game
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  ast_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  ast_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  blk_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  blk_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  dreb_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  dreb_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3_pct_away                   | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg3_pct_home                   | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg3a_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3a_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3m_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3m_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg_pct_away                    | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg_pct_home                    | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fga_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fga_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fgm_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  fgm_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ft_pct_away                    | float64         | DECIMAL(5, 3)   | ‚úÖ OK
  ft_pct_home                    | float64         | DECIMAL(5, 3)   | ‚úÖ OK
  fta_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  fta_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ftm_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ftm_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  game_date                      | object          | DATE            | üö® ¬°OBJECT vs DATE! (Necesita conversi√≥n espec√≠fica)
  game_id                        | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  matchup_away                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  matchup_home                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  min                            | int64           | DECIMAL(5, 1)   | ‚ùì Revisar (Combinaci√≥n no cubierta)
  oreb_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  oreb_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  pf_away                        | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  pf_home                        | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  plus_minus_away                | int64           | INTEGER         | ‚úÖ OK
  plus_minus_home                | int64           | INTEGER         | ‚úÖ OK
  pts_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  pts_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  reb_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  reb_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  season_id                      | object          | VARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season_type                    | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  stl_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  stl_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  team_abbreviation_away         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_abbreviation_home         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id_away                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id_home                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name_away                 | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name_home                 | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  tov_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  tov_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  video_available_away           | int64           | BIT             | ‚ö†Ô∏è INT64 vs BIT (¬øSe mapea 0/1?)
  video_available_home           | int64           | BIT             | ‚ö†Ô∏è INT64 vs BIT (¬øSe mapea 0/1?)
  wl_away                        | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  wl_home                        | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)

=======================================
 Tabla: game_info
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: game_summary
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: inactive_players
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: line_score
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------